{{#if label}}
  <label {{bind-attr for=inputElementId}} class="col-md-2 control-label">
    {{labelText}}
  </label>
{{/if}}
<div {{bind-attr class=inputDivClass}}>
  {{textarea value=valueProperty class='form-control' viewName=inputName
  rows=rows}}
</div>
