{{#if label}}
  <label for={{inputElementId}} class="col-md-2 control-label">
    {{labelText}}
  </label>
{{/if}}
<div class={{inputDivClass}}>
  {{textarea
    value=valueProperty
    class="form-control"
    viewName=inputName
    rows=rows
  }}
</div>
