<i {{bind-attr class=":fa :slate-statbox-icon iconClass"}}></i>
<div class="slate-statbox-title">{{property}} <span class="text-muted small">{{unitOfMesure}}</span></div>
<div class="slate-statbox-value">{{propertyDescription}}</div>
