@import "../../vendor/bootstrap/less/bootstrap.less";
@import "../../vendor/bootstrap/less/variables.less";
@import "../../vendor/fontawesome/less/font-awesome.less";
h2 { 
  font-weight: 300;
}

.panel h2 {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.panel h3 {
  font-weight: 300;
}

.recede-background {
  background-color: @gray-lighter;
}

// Styles related to slate statbox used for brew stats
// Stolen from http://www.bootstrapslate.com/theme/
.main {
  margin-top: 15px;
}
.main:before,
.main:after {
  display: table;
  content: "";
  line-height: 0;
}
.main .box {
  background: #fff;
  border: 1px solid #dbe3e7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.main .box .box-header {
  padding: 15px;
  background: #f7f8fa;
  border-bottom: 1px solid #dbe3e7;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #8fa0a8;
  *zoom: 1;
}
.main .box .box-header:before,
.main .box .box-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.main .box .box-header:after {
  clear: both;
}
.main .box .box-content {
  padding: 15px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  *zoom: 1;
}
.main .box .box-content:before,
.main .box .box-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.main .box .box-content:after {
  clear: both;
}
.box {
  border: 1px solid #dbe3e7;
  border-radius: 4px;
}

.box-content {
  border-radius: 0 0 4px 4px;
  position: relative;
}
.slate-statboxes {
  padding: 0 !important;
}
.slate-statbox {
  *zoom: 1;
  border-right: 1px solid #dbe3e7;
  padding: 15px;
}
.slate-statbox:before,
.slate-statbox:after {
  display: table;
  content: "";
  line-height: 0;
}
.slate-statbox:after {
  clear: both;
}
.slate-statbox:last-child {
  border: 0;
}
.slate-statbox i.slate-statbox-icon {
  font-size: 48px;
  float: left;
}
.slate-statbox span.slate-statbox-icon{
  font-size: 48px;
  float: left;
}
.slate-statbox .slate-statbox-title {
  font-size: 20px;
  text-indent: 10px;
}
.slate-statbox .slate-statbox-value {
  font-size: 16px;
  text-indent: 10px;
  color: #8fa0a8;
}
.slate-statbox.red i, .slate-statbox.red span.slate-statbox-icon {
  color: #e52626;
}
.slate-statbox.purple i, .slate-statbox.purple span.slate-statbox-icon {
  color: #a14eff;
}
.slate-statbox.blue i, .slate-statbox.blue span.slate-statbox-icon {
  color: #26a0e5;
}
.slate-statbox.green i, .slate-statbox.green span.slate-statbox-icon {
  color: #a7d005;
}
.slate-statbox.yellow i, .slate-statbox.yellow span.slate-statbox-icon {
  color: #ffc617;
}
.slate-statbox i.fa-caret-up {
  color: #a7d005;
}
.slate-statbox i.fa-caret-down {
  color: #e52626;
}

// End slate-statbox stuff

.box {
  margin-bottom: 30px;
}
