<form role="form" class="form-horizontal">
  {{bs-text-field valueProperty=name}}
  {{bs-select-field valueProperty=style
    optionsContent=styles
    optionLabelPath="content.fullName"
    optionValuePath="content.id"
    prompt="Pick a style:" }}

    <div class="col-md-10 col-md-offset-2">
      <button class="btn btn-primary" type="submit" {{action 'save' this}}>Save</button>
      <button class="btn btn-default" type="submit" {{action 'cancel' this}}>Cancel</button>
    </div>
</form>
