<h2 class="border-b font-normal mb-6">My Brews</h2>

<Table as |T|>
  <T.Head>
    <T.Row>
      <T.Header>Name</T.Header>
      <T.Header>Created</T.Header>
    </T.Row>
  </T.Head>
  <T.Body>
    {{#each brews as |brew|}}
      <T.Row>
        <T.Cell>
          {{link-to
            brew.name
            "recipe"
            brew
            title=brew.name
            class="hover:text-black no-underline text-grey-darkest"
          }}
        </T.Cell>
        <T.Cell>{{formatted-date brew.createdAt}}</T.Cell>
      </T.Row>
    {{/each}}
  </T.Body>
</Table>
