{{#modal-dialog param=this.model title="Edit Yeast" close='closeModal' cancel='cancel' save='save'}}
<div class="col-md-8">
  <form role="form" class="form-horizontal">
    {{bs-select-field valueProperty=yeast
      optionsContent=yeasts
      optionLabelPath="content.description"
      optionValuePath="content.id"
      prompt="Please select a yeast" }}
    {{bs-select-field valueProperty=unit
      optionsContent=units
      prompt="Please select a unit" }}
    {{bs-text-field valueProperty=amount appendText="unit"}}
  </form>
</div>
{{/modal-dialog}}
