{{#link-to "recipe" brew tagName="li" class="border p-4 rounded mb-4"}}
  <div class="info">
    <p class="mb-2 text-grey-dark text-sm">
      {{brew.style.subcategoryName}}
    </p>
    <h3 class="mb-2 text-2xl font-normal">
      {{brew.name}}
    </h3>
    <div>
      <span class="text-sm">
        <span class="text-grey-dark">Brewed by</span> {{brew.user.username}}
      </span>
    </div>
    <div class="text-sm text-grey-dark">
      Created {{formatted-date brew.createdAt}}
    </div>
  </div>
{{/link-to}}
