{{#if this.canEdit}}
  {{#link-to
    "notes.new"
    class="border float-right hover:bg-grey-lighter no-underline px-2 px-4 py-1 rounded text-grey-darkest text-sm"
    title="Add note"
  }}
    <i class="glyphicon glyphicon-plus-sign"></i> Add note
  {{/link-to}}
{{/if}}
<h2 class="border-b font-normal mb-6">Notes</h2>
<ul class="list-reset notes">
  {{#each model as |note|}}
    <li class="leading-normal">
      {{simple-format note.text}}
      <div class="row">
        <div class="col-md-8">
          <p class="small text-muted">{{formatted-date note.createdAt}}</p>
        </div>
        <div class="col-md-4 text-right">
          {{#if this.canEdit}}
            {{#link-to "notes.edit" note class="btn-primary btn-small" title="Edit"}}
              <span class="glyphicon glyphicon-edit"></span> Edit
            {{/link-to}}
            <button
              class="btn-secondary btn-small"
              title="Delete"
              {{action "destroyRecord" note}}
            >
              <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
          {{/if}}
        </div>
      </div>
    </li>
  {{/each}}
</ul>
