<br><br>
<div class="panel panel-primary">
  <div class="panel-heading">
    {{#if canEdit}}
      {{#link-to "notes.new" class="btn btn-default btn-xs pull-right"}}<i class="glyphicon glyphicon-plus-sign"></i> Add note{{/link-to}}
    {{/if}}
    <h2 class="panel-title">Notes</h2>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      {{#each model as |note|}}
        <li class="well recede-background">
          {{simple-format note.text}}
          <div class="row">
            <div class="col-md-8">
              <p class="small text-muted">{{formatted-date note.createdAt}}</p>
            </div>
            <div class="col-md-4 text-right">
              {{#if canEdit}}
                <button
                  class="btn btn-default btn-xs"
                  title="Delete"
                  {{action "destroyRecord" note}}
                >
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
                {{#link-to "notes.edit" note class="btn btn-default btn-xs"}}
                  <span class="glyphicon glyphicon-edit"></span> Edit
                {{/link-to}}
              {{/if}}
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
