<div class="row">
  <div class='col-md-12'>
    {{#link-to 'brews.new' class="btn btn-default pull-right"}}
      <span class="glyphicon glyphicon-plus"></span> New Brew
    {{/link-to}}
    <h2>{{link-to 'Brews' 'brews'}}</h2>
  </div>
</div>
{{outlet}}
