<div class="main">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-content slate-statboxes">
          <div class="col-md-4 slate-statbox purple">
            <i class="fa fa-flask slate-statbox-icon"></i>
            <div class="slate-statbox-title">{{originalGravity}} <span class="text-muted small">S.G.</span></div>
            <div class="slate-statbox-value">Original Gravity</div>
          </div>
          <div class="col-md-4 slate-statbox blue">
            <i class="fa fa-bitbucket slate-statbox-icon"></i>
            <div class="slate-statbox-title">{{strikeWaterVolume}} <span class="text-muted small">litres</span></div>
            <div class="slate-statbox-value">Strike Water Volume</div>
          </div>
          <div class="col-md-4 slate-statbox red">
            <i class="fa fa-fire slate-statbox-icon"></i>
            <div class="slate-statbox-title">{{strikeWaterTemp}} <span class="text-muted small">°C</span></div>
            <div class="slate-statbox-value">Strike Water Temperature</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
